body{
  padding: 10px 50px 0px 50px;
}
h1{
  color: deeppink;
}

h2{
  color: deeppink;
}

.h2_podnaslov{
  color: deeppink;
  font-style: normal;
}

.h2_primer{
  color: deeppink;
}

.h3_podnaslov{
  color: deeppink;
  font-style: italic;
  font-weight: bold;
}

.h3_primer{
  color: deeppink;
}
.title_cls{
  color: black;
  font-weight: normal;
  font-style: italic;
}

.normal_text{
  color: black;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

p{
  font-size: 20px;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
}

.hr_1 {
  border: 1px solid deeppink;
}

.hr_2 {
  border: 3px solid deeppink;
}

.pink_back{
  background-color: rgba(255, 192, 203, 0.5);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 0px 30px 0px 30px;
  border-top-style: solid;
  border-top-color: deeppink;
  border-bottom-style: solid;
  border-bottom-color: deeppink;
}

.grey_back{
  background-color: lightgrey;
  text-align: center;
}

.ul_sq{
  list-style-type: square;
  color: deeppink;
  font-size: 20px;
}

.ul_al{
  list-style-type: lower-latin;
  color: deeppink;
  font-size: 20px;
  font-weight: bold;
}
